@font-face {
    font-family: hb;
    src: url(hb.ttf);
}
.hb {
    font-family: hb;
    font-size: xx-large;
}
.message {
    font-size: large;
}
.kioskboard-row-top {
    display: none !important;
}
.kioskboard-row:nth-of-type(3) .kioskboard-key[data-index="9"]::before {
    content: "⏎";
}
#gizmo {
    position: fixed;
    bottom: 0;
    right: 0;
}
