@font-face {
    font-family: hb;
    src: url(hb.ttf);
}
.hb {
    font-family: hb;
    font-size: xx-large;
}
.message {
    font-size: large;
}
.kioskboard-row-top, .kioskboard-key-space {
    display: none !important;
}
.kioskboard-row:nth-of-type(5) .kioskboard-key[data-index="5"]::before {
    content: "_";
}
.kioskboard-row:nth-of-type(5) .kioskboard-key[data-index="6"]::before {
    content: "⏎";
}
#gizmo {
    position: fixed;
    bottom: 0;
    right: 0;
}
